@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600&display=swap');
@import "tailwindcss";

h1,h2,h3,h4,h5,h6{
    font-family: 'Press Start 2P', cursive;
}

 
  


p, span, button, input, label, li, a, svg text{
  font-family: 'Pixelify Sans', sans-serif;
}

@keyframes nube-move {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(calc(100vw + 300px));
  }
}